/* ===== カラー定義 (11段階) ===== */
        :root {
            /* --- R: 0 (00) --- */
            /* G: 0 (00) */
            --palette-000: #000000;
            --palette-001: #00001A;
            --palette-003: #000033;
            --palette-004: #00004D;
            --palette-006: #000066;
            --palette-008: #000080;
            --palette-009: #000099;
            --palette-00B: #0000B3;
            --palette-00C: #0000CC;
            --palette-00E: #0000E6;
            --palette-00F: #0000FF;
            /* G: 1 (1A) */
            --palette-010: #001A00;
            --palette-011: #001A1A;
            --palette-013: #001A33;
            --palette-014: #001A4D;
            --palette-016: #001A66;
            --palette-018: #001A80;
            --palette-019: #001A99;
            --palette-01B: #001AB3;
            --palette-01C: #001ACC;
            --palette-01E: #001AE6;
            --palette-01F: #001AFF;
            /* G: 3 (33) */
            --palette-030: #003300;
            --palette-031: #00331A;
            --palette-033: #003333;
            --palette-034: #00334D;
            --palette-036: #003366;
            --palette-038: #003380;
            --palette-039: #003399;
            --palette-03B: #0033B3;
            --palette-03C: #0033CC;
            --palette-03E: #0033E6;
            --palette-03F: #0033FF;
            /* G: 4 (4D) */
            --palette-040: #004D00;
            --palette-041: #004D1A;
            --palette-043: #004D33;
            --palette-044: #004D4D;
            --palette-046: #004D66;
            --palette-048: #004D80;
            --palette-049: #004D99;
            --palette-04B: #004DB3;
            --palette-04C: #004DCC;
            --palette-04E: #004DE6;
            --palette-04F: #004DFF;
            /* G: 6 (66) */
            --palette-060: #006600;
            --palette-061: #00661A;
            --palette-063: #006633;
            --palette-064: #00664D;
            --palette-066: #006666;
            --palette-068: #006680;
            --palette-069: #006699;
            --palette-06B: #0066B3;
            --palette-06C: #0066CC;
            --palette-06E: #0066E6;
            --palette-06F: #0066FF;
            /* G: 8 (80) */
            --palette-080: #008000;
            --palette-081: #00801A;
            --palette-083: #008033;
            --palette-084: #00804D;
            --palette-086: #008066;
            --palette-088: #008080;
            --palette-089: #008099;
            --palette-08B: #0080B3;
            --palette-08C: #0080CC;
            --palette-08E: #0080E6;
            --palette-08F: #0080FF;
            /* G: 9 (99) */
            --palette-090: #009900;
            --palette-091: #00991A;
            --palette-093: #009933;
            --palette-094: #00994D;
            --palette-096: #009966;
            --palette-098: #009980;
            --palette-099: #009999;
            --palette-09B: #0099B3;
            --palette-09C: #0099CC;
            --palette-09E: #0099E6;
            --palette-09F: #0099FF;
            /* G: B (B3) */
            --palette-0B0: #00B300;
            --palette-0B1: #00B31A;
            --palette-0B3: #00B333;
            --palette-0B4: #00B34D;
            --palette-0B6: #00B366;
            --palette-0B8: #00B380;
            --palette-0B9: #00B399;
            --palette-0BB: #00B3B3;
            --palette-0BC: #00B3CC;
            --palette-0BE: #00B3E6;
            --palette-0BF: #00B3FF;
            /* G: C (CC) */
            --palette-0C0: #00CC00;
            --palette-0C1: #00CC1A;
            --palette-0C3: #00CC33;
            --palette-0C4: #00CC4D;
            --palette-0C6: #00CC66;
            --palette-0C8: #00CC80;
            --palette-0C9: #00CC99;
            --palette-0CB: #00CCB3;
            --palette-0CC: #00CCCC;
            --palette-0CE: #00CCE6;
            --palette-0CF: #00CCFF;
            /* G: E (E6) */
            --palette-0E0: #00E600;
            --palette-0E1: #00E61A;
            --palette-0E3: #00E633;
            --palette-0E4: #00E64D;
            --palette-0E6: #00E666;
            --palette-0E8: #00E680;
            --palette-0E9: #00E699;
            --palette-0EB: #00E6B3;
            --palette-0EC: #00E6CC;
            --palette-0EE: #00E6E6;
            --palette-0EF: #00E6FF;
            /* G: F (FF) */
            --palette-0F0: #00FF00;
            --palette-0F1: #00FF1A;
            --palette-0F3: #00FF33;
            --palette-0F4: #00FF4D;
            --palette-0F6: #00FF66;
            --palette-0F8: #00FF80;
            --palette-0F9: #00FF99;
            --palette-0FB: #00FFB3;
            --palette-0FC: #00FFCC;
            --palette-0FE: #00FFE6;
            --palette-0FF: #00FFFF;

            /* --- R: 1 (1A) --- */
            /* G: 0 (00) */
            --palette-100: #1A0000;
            --palette-101: #1A001A;
            --palette-103: #1A0033;
            --palette-104: #1A004D;
            --palette-106: #1A0066;
            --palette-108: #1A0080;
            --palette-109: #1A0099;
            --palette-10B: #1A00B3;
            --palette-10C: #1A00CC;
            --palette-10E: #1A00E6;
            --palette-10F: #1A00FF;
            /* G: 1 (1A) */
            --palette-110: #1A1A00;
            --palette-111: #1A1A1A;
            --palette-113: #1A1A33;
            --palette-114: #1A1A4D;
            --palette-116: #1A1A66;
            --palette-118: #1A1A80;
            --palette-119: #1A1A99;
            --palette-11B: #1A1AB3;
            --palette-11C: #1A1ACC;
            --palette-11E: #1A1AE6;
            --palette-11F: #1A1AFF;
            /* G: 3 (33) */
            --palette-130: #1A3300;
            --palette-131: #1A331A;
            --palette-133: #1A3333;
            --palette-134: #1A334D;
            --palette-136: #1A3366;
            --palette-138: #1A3380;
            --palette-139: #1A3399;
            --palette-13B: #1A33B3;
            --palette-13C: #1A33CC;
            --palette-13E: #1A33E6;
            --palette-13F: #1A33FF;
            /* G: 4 (4D) */
            --palette-140: #1A4D00;
            --palette-141: #1A4D1A;
            --palette-143: #1A4D33;
            --palette-144: #1A4D4D;
            --palette-146: #1A4D66;
            --palette-148: #1A4D80;
            --palette-149: #1A4D99;
            --palette-14B: #1A4DB3;
            --palette-14C: #1A4DCC;
            --palette-14E: #1A4DE6;
            --palette-14F: #1A4DFF;
            /* G: 6 (66) */
            --palette-160: #1A6600;
            --palette-161: #1A661A;
            --palette-163: #1A6633;
            --palette-164: #1A664D;
            --palette-166: #1A6666;
            --palette-168: #1A6680;
            --palette-169: #1A6699;
            --palette-16B: #1A66B3;
            --palette-16C: #1A66CC;
            --palette-16E: #1A66E6;
            --palette-16F: #1A66FF;
            /* G: 8 (80) */
            --palette-180: #1A8000;
            --palette-181: #1A801A;
            --palette-183: #1A8033;
            --palette-184: #1A804D;
            --palette-186: #1A8066;
            --palette-188: #1A8080;
            --palette-189: #1A8099;
            --palette-18B: #1A80B3;
            --palette-18C: #1A80CC;
            --palette-18E: #1A80E6;
            --palette-18F: #1A80FF;
            /* G: 9 (99) */
            --palette-190: #1A9900;
            --palette-191: #1A991A;
            --palette-193: #1A9933;
            --palette-194: #1A994D;
            --palette-196: #1A9966;
            --palette-198: #1A9980;
            --palette-199: #1A9999;
            --palette-19B: #1A99B3;
            --palette-19C: #1A99CC;
            --palette-19E: #1A99E6;
            --palette-19F: #1A99FF;
            /* G: B (B3) */
            --palette-1B0: #1AB300;
            --palette-1B1: #1AB31A;
            --palette-1B3: #1AB333;
            --palette-1B4: #1AB34D;
            --palette-1B6: #1AB366;
            --palette-1B8: #1AB380;
            --palette-1B9: #1AB399;
            --palette-1BB: #1AB3B3;
            --palette-1BC: #1AB3CC;
            --palette-1BE: #1AB3E6;
            --palette-1BF: #1AB3FF;
            /* G: C (CC) */
            --palette-1C0: #1ACC00;
            --palette-1C1: #1ACC1A;
            --palette-1C3: #1ACC33;
            --palette-1C4: #1ACC4D;
            --palette-1C6: #1ACC66;
            --palette-1C8: #1ACC80;
            --palette-1C9: #1ACC99;
            --palette-1CB: #1ACCB3;
            --palette-1CC: #1ACCCC;
            --palette-1CE: #1ACCE6;
            --palette-1CF: #1ACCFF;
            /* G: E (E6) */
            --palette-1E0: #1AE600;
            --palette-1E1: #1AE61A;
            --palette-1E3: #1AE633;
            --palette-1E4: #1AE64D;
            --palette-1E6: #1AE666;
            --palette-1E8: #1AE680;
            --palette-1E9: #1AE699;
            --palette-1EB: #1AE6B3;
            --palette-1EC: #1AE6CC;
            --palette-1EE: #1AE6E6;
            --palette-1EF: #1AE6FF;
            /* G: F (FF) */
            --palette-1F0: #1AFF00;
            --palette-1F1: #1AFF1A;
            --palette-1F3: #1AFF33;
            --palette-1F4: #1AFF4D;
            --palette-1F6: #1AFF66;
            --palette-1F8: #1AFF80;
            --palette-1F9: #1AFF99;
            --palette-1FB: #1AFFB3;
            --palette-1FC: #1AFFCC;
            --palette-1FE: #1AFFE6;
            --palette-1FF: #1AFFFF;

            /* --- R: 3 (33) --- */
            /* G: 0 (00) */
            --palette-300: #330000;
            --palette-301: #33001A;
            --palette-303: #330033;
            --palette-304: #33004D;
            --palette-306: #330066;
            --palette-308: #330080;
            --palette-309: #330099;
            --palette-30B: #3300B3;
            --palette-30C: #3300CC;
            --palette-30E: #3300E6;
            --palette-30F: #3300FF;
            /* G: 1 (1A) */
            --palette-310: #331A00;
            --palette-311: #331A1A;
            --palette-313: #331A33;
            --palette-314: #331A4D;
            --palette-316: #331A66;
            --palette-318: #331A80;
            --palette-319: #331A99;
            --palette-31B: #331AB3;
            --palette-31C: #331ACC;
            --palette-31E: #331AE6;
            --palette-31F: #331AFF;
            /* G: 3 (33) */
            --palette-330: #333300;
            --palette-331: #33331A;
            --palette-333: #333333;
            --palette-334: #33334D;
            --palette-336: #333366;
            --palette-338: #333380;
            --palette-339: #333399;
            --palette-33B: #3333B3;
            --palette-33C: #3333CC;
            --palette-33E: #3333E6;
            --palette-33F: #3333FF;
            /* G: 4 (4D) */
            --palette-340: #334D00;
            --palette-341: #334D1A;
            --palette-343: #334D33;
            --palette-344: #334D4D;
            --palette-346: #334D66;
            --palette-348: #334D80;
            --palette-349: #334D99;
            --palette-34B: #334DB3;
            --palette-34C: #334DCC;
            --palette-34E: #334DE6;
            --palette-34F: #334DFF;
            /* G: 6 (66) */
            --palette-360: #336600;
            --palette-361: #33661A;
            --palette-363: #336633;
            --palette-364: #33664D;
            --palette-366: #336666;
            --palette-368: #336680;
            --palette-369: #336699;
            --palette-36B: #3366B3;
            --palette-36C: #3366CC;
            --palette-36E: #3366E6;
            --palette-36F: #3366FF;
            /* G: 8 (80) */
            --palette-380: #338000;
            --palette-381: #33801A;
            --palette-383: #338033;
            --palette-384: #33804D;
            --palette-386: #338066;
            --palette-388: #338080;
            --palette-389: #338099;
            --palette-38B: #3380B3;
            --palette-38C: #3380CC;
            --palette-38E: #3380E6;
            --palette-38F: #3380FF;
            /* G: 9 (99) */
            --palette-390: #339900;
            --palette-391: #33991A;
            --palette-393: #339933;
            --palette-394: #33994D;
            --palette-396: #339966;
            --palette-398: #339980;
            --palette-399: #339999;
            --palette-39B: #3399B3;
            --palette-39C: #3399CC;
            --palette-39E: #3399E6;
            --palette-39F: #3399FF;
            /* G: B (B3) */
            --palette-3B0: #33B300;
            --palette-3B1: #33B31A;
            --palette-3B3: #33B333;
            --palette-3B4: #33B34D;
            --palette-3B6: #33B366;
            --palette-3B8: #33B380;
            --palette-3B9: #33B399;
            --palette-3BB: #33B3B3;
            --palette-3BC: #33B3CC;
            --palette-3BE: #33B3E6;
            --palette-3BF: #33B3FF;
            /* G: C (CC) */
            --palette-3C0: #33CC00;
            --palette-3C1: #33CC1A;
            --palette-3C3: #33CC33;
            --palette-3C4: #33CC4D;
            --palette-3C6: #33CC66;
            --palette-3C8: #33CC80;
            --palette-3C9: #33CC99;
            --palette-3CB: #33CCB3;
            --palette-3CC: #33CCCC;
            --palette-3CE: #33CCE6;
            --palette-3CF: #33CCFF;
            /* G: E (E6) */
            --palette-3E0: #33E600;
            --palette-3E1: #33E61A;
            --palette-3E3: #33E633;
            --palette-3E4: #33E64D;
            --palette-3E6: #33E666;
            --palette-3E8: #33E680;
            --palette-3E9: #33E699;
            --palette-3EB: #33E6B3;
            --palette-3EC: #33E6CC;
            --palette-3EE: #33E6E6;
            --palette-3EF: #33E6FF;
            /* G: F (FF) */
            --palette-3F0: #33FF00;
            --palette-3F1: #33FF1A;
            --palette-3F3: #33FF33;
            --palette-3F4: #33FF4D;
            --palette-3F6: #33FF66;
            --palette-3F8: #33FF80;
            --palette-3F9: #33FF99;
            --palette-3FB: #33FFB3;
            --palette-3FC: #33FFCC;
            --palette-3FE: #33FFE6;
            --palette-3FF: #33FFFF;

            /* --- R: 4 (4D) --- */
            /* G: 0 (00) */
            --palette-400: #4D0000;
            --palette-401: #4D001A;
            --palette-403: #4D0033;
            --palette-404: #4D004D;
            --palette-406: #4D0066;
            --palette-408: #4D0080;
            --palette-409: #4D0099;
            --palette-40B: #4D00B3;
            --palette-40C: #4D00CC;
            --palette-40E: #4D00E6;
            --palette-40F: #4D00FF;
            /* G: 1 (1A) */
            --palette-410: #4D1A00;
            --palette-411: #4D1A1A;
            --palette-413: #4D1A33;
            --palette-414: #4D1A4D;
            --palette-416: #4D1A66;
            --palette-418: #4D1A80;
            --palette-419: #4D1A99;
            --palette-41B: #4D1AB3;
            --palette-41C: #4D1ACC;
            --palette-41E: #4D1AE6;
            --palette-41F: #4D1AFF;
            /* G: 3 (33) */
            --palette-430: #4D3300;
            --palette-431: #4D331A;
            --palette-433: #4D3333;
            --palette-434: #4D334D;
            --palette-436: #4D3366;
            --palette-438: #4D3380;
            --palette-439: #4D3399;
            --palette-43B: #4D33B3;
            --palette-43C: #4D33CC;
            --palette-43E: #4D33E6;
            --palette-43F: #4D33FF;
            /* G: 4 (4D) */
            --palette-440: #4D4D00;
            --palette-441: #4D4D1A;
            --palette-443: #4D4D33;
            --palette-444: #4D4D4D;
            --palette-446: #4D4D66;
            --palette-448: #4D4D80;
            --palette-449: #4D4D99;
            --palette-44B: #4D4DB3;
            --palette-44C: #4D4DCC;
            --palette-44E: #4D4DE6;
            --palette-44F: #4D4DFF;
            /* G: 6 (66) */
            --palette-460: #4D6600;
            --palette-461: #4D661A;
            --palette-463: #4D6633;
            --palette-464: #4D664D;
            --palette-466: #4D6666;
            --palette-468: #4D6680;
            --palette-469: #4D6699;
            --palette-46B: #4D66B3;
            --palette-46C: #4D66CC;
            --palette-46E: #4D66E6;
            --palette-46F: #4D66FF;
            /* G: 8 (80) */
            --palette-480: #4D8000;
            --palette-481: #4D801A;
            --palette-483: #4D8033;
            --palette-484: #4D804D;
            --palette-486: #4D8066;
            --palette-488: #4D8080;
            --palette-489: #4D8099;
            --palette-48B: #4D80B3;
            --palette-48C: #4D80CC;
            --palette-48E: #4D80E6;
            --palette-48F: #4D80FF;
            /* G: 9 (99) */
            --palette-490: #4D9900;
            --palette-491: #4D991A;
            --palette-493: #4D9933;
            --palette-494: #4D994D;
            --palette-496: #4D9966;
            --palette-498: #4D9980;
            --palette-499: #4D9999;
            --palette-49B: #4D99B3;
            --palette-49C: #4D99CC;
            --palette-49E: #4D99E6;
            --palette-49F: #4D99FF;
            /* G: B (B3) */
            --palette-4B0: #4DB300;
            --palette-4B1: #4DB31A;
            --palette-4B3: #4DB333;
            --palette-4B4: #4DB34D;
            --palette-4B6: #4DB366;
            --palette-4B8: #4DB380;
            --palette-4B9: #4DB399;
            --palette-4BB: #4DB3B3;
            --palette-4BC: #4DB3CC;
            --palette-4BE: #4DB3E6;
            --palette-4BF: #4DB3FF;
            /* G: C (CC) */
            --palette-4C0: #4DCC00;
            --palette-4C1: #4DCC1A;
            --palette-4C3: #4DCC33;
            --palette-4C4: #4DCC4D;
            --palette-4C6: #4DCC66;
            --palette-4C8: #4DCC80;
            --palette-4C9: #4DCC99;
            --palette-4CB: #4DCCB3;
            --palette-4CC: #4DCCCC;
            --palette-4CE: #4DCCE6;
            --palette-4CF: #4DCCFF;
            /* G: E (E6) */
            --palette-4E0: #4DE600;
            --palette-4E1: #4DE61A;
            --palette-4E3: #4DE633;
            --palette-4E4: #4DE64D;
            --palette-4E6: #4DE666;
            --palette-4E8: #4DE680;
            --palette-4E9: #4DE699;
            --palette-4EB: #4DE6B3;
            --palette-4EC: #4DE6CC;
            --palette-4EE: #4DE6E6;
            --palette-4EF: #4DE6FF;
            /* G: F (FF) */
            --palette-4F0: #4DFF00;
            --palette-4F1: #4DFF1A;
            --palette-4F3: #4DFF33;
            --palette-4F4: #4DFF4D;
            --palette-4F6: #4DFF66;
            --palette-4F8: #4DFF80;
            --palette-4F9: #4DFF99;
            --palette-4FB: #4DFFB3;
            --palette-4FC: #4DFFCC;
            --palette-4FE: #4DFFE6;
            --palette-4FF: #4DFFFF;

            /* --- R: 6 (66) --- */
            /* G: 0 (00) */
            --palette-600: #660000;
            --palette-601: #66001A;
            --palette-603: #660033;
            --palette-604: #66004D;
            --palette-606: #660066;
            --palette-608: #660080;
            --palette-609: #660099;
            --palette-60B: #6600B3;
            --palette-60C: #6600CC;
            --palette-60E: #6600E6;
            --palette-60F: #6600FF;
            /* G: 1 (1A) */
            --palette-610: #661A00;
            --palette-611: #661A1A;
            --palette-613: #661A33;
            --palette-614: #661A4D;
            --palette-616: #661A66;
            --palette-618: #661A80;
            --palette-619: #661A99;
            --palette-61B: #661AB3;
            --palette-61C: #661ACC;
            --palette-61E: #661AE6;
            --palette-61F: #661AFF;
            /* G: 3 (33) */
            --palette-630: #663300;
            --palette-631: #66331A;
            --palette-633: #663333;
            --palette-634: #66334D;
            --palette-636: #663366;
            --palette-638: #663380;
            --palette-639: #663399;
            --palette-63B: #6633B3;
            --palette-63C: #6633CC;
            --palette-63E: #6633E6;
            --palette-63F: #6633FF;
            /* G: 4 (4D) */
            --palette-640: #664D00;
            --palette-641: #664D1A;
            --palette-643: #664D33;
            --palette-644: #664D4D;
            --palette-646: #664D66;
            --palette-648: #664D80;
            --palette-649: #664D99;
            --palette-64B: #664DB3;
            --palette-64C: #664DCC;
            --palette-64E: #664DE6;
            --palette-64F: #664DFF;
            /* G: 6 (66) */
            --palette-660: #666600;
            --palette-661: #66661A;
            --palette-663: #666633;
            --palette-664: #66664D;
            --palette-666: #666666;
            --palette-668: #666680;
            --palette-669: #666699;
            --palette-66B: #6666B3;
            --palette-66C: #6666CC;
            --palette-66E: #6666E6;
            --palette-66F: #6666FF;
            /* G: 8 (80) */
            --palette-680: #668000;
            --palette-681: #66801A;
            --palette-683: #668033;
            --palette-684: #66804D;
            --palette-686: #668066;
            --palette-688: #668080;
            --palette-689: #668099;
            --palette-68B: #6680B3;
            --palette-68C: #6680CC;
            --palette-68E: #6680E6;
            --palette-68F: #6680FF;
            /* G: 9 (99) */
            --palette-690: #669900;
            --palette-691: #66991A;
            --palette-693: #669933;
            --palette-694: #66994D;
            --palette-696: #669966;
            --palette-698: #669980;
            --palette-699: #669999;
            --palette-69B: #6699B3;
            --palette-69C: #6699CC;
            --palette-69E: #6699E6;
            --palette-69F: #6699FF;
            /* G: B (B3) */
            --palette-6B0: #66B300;
            --palette-6B1: #66B31A;
            --palette-6B3: #66B333;
            --palette-6B4: #66B34D;
            --palette-6B6: #66B366;
            --palette-6B8: #66B380;
            --palette-6B9: #66B399;
            --palette-6BB: #66B3B3;
            --palette-6BC: #66B3CC;
            --palette-6BE: #66B3E6;
            --palette-6BF: #66B3FF;
            /* G: C (CC) */
            --palette-6C0: #66CC00;
            --palette-6C1: #66CC1A;
            --palette-6C3: #66CC33;
            --palette-6C4: #66CC4D;
            --palette-6C6: #66CC66;
            --palette-6C8: #66CC80;
            --palette-6C9: #66CC99;
            --palette-6CB: #66CCB3;
            --palette-6CC: #66CCCC;
            --palette-6CE: #66CCE6;
            --palette-6CF: #66CCFF;
            /* G: E (E6) */
            --palette-6E0: #66E600;
            --palette-6E1: #66E61A;
            --palette-6E3: #66E633;
            --palette-6E4: #66E64D;
            --palette-6E6: #66E666;
            --palette-6E8: #66E680;
            --palette-6E9: #66E699;
            --palette-6EB: #66E6B3;
            --palette-6EC: #66E6CC;
            --palette-6EE: #66E6E6;
            --palette-6EF: #66E6FF;
            /* G: F (FF) */
            --palette-6F0: #66FF00;
            --palette-6F1: #66FF1A;
            --palette-6F3: #66FF33;
            --palette-6F4: #66FF4D;
            --palette-6F6: #66FF66;
            --palette-6F8: #66FF80;
            --palette-6F9: #66FF99;
            --palette-6FB: #66FFB3;
            --palette-6FC: #66FFCC;
            --palette-6FE: #66FFE6;
            --palette-6FF: #66FFFF;

            /* --- R: 8 (80) --- */
            /* G: 0 (00) */
            --palette-800: #800000;
            --palette-801: #80001A;
            --palette-803: #800033;
            --palette-804: #80004D;
            --palette-806: #800066;
            --palette-808: #800080;
            --palette-809: #800099;
            --palette-80B: #8000B3;
            --palette-80C: #8000CC;
            --palette-80E: #8000E6;
            --palette-80F: #8000FF;
            /* G: 1 (1A) */
            --palette-810: #801A00;
            --palette-811: #801A1A;
            --palette-813: #801A33;
            --palette-814: #801A4D;
            --palette-816: #801A66;
            --palette-818: #801A80;
            --palette-819: #801A99;
            --palette-81B: #801AB3;
            --palette-81C: #801ACC;
            --palette-81E: #801AE6;
            --palette-81F: #801AFF;
            /* G: 3 (33) */
            --palette-830: #803300;
            --palette-831: #80331A;
            --palette-833: #803333;
            --palette-834: #80334D;
            --palette-836: #803366;
            --palette-838: #803380;
            --palette-839: #803399;
            --palette-83B: #8033B3;
            --palette-83C: #8033CC;
            --palette-83E: #8033E6;
            --palette-83F: #8033FF;
            /* G: 4 (4D) */
            --palette-840: #804D00;
            --palette-841: #804D1A;
            --palette-843: #804D33;
            --palette-844: #804D4D;
            --palette-846: #804D66;
            --palette-848: #804D80;
            --palette-849: #804D99;
            --palette-84B: #804DB3;
            --palette-84C: #804DCC;
            --palette-84E: #804DE6;
            --palette-84F: #804DFF;
            /* G: 6 (66) */
            --palette-860: #806600;
            --palette-861: #80661A;
            --palette-863: #806633;
            --palette-864: #80664D;
            --palette-866: #806666;
            --palette-868: #806680;
            --palette-869: #806699;
            --palette-86B: #8066B3;
            --palette-86C: #8066CC;
            --palette-86E: #8066E6;
            --palette-86F: #8066FF;
            /* G: 8 (80) */
            --palette-880: #808000;
            --palette-881: #80801A;
            --palette-883: #808033;
            --palette-884: #80804D;
            --palette-886: #808066;
            --palette-888: #808080;
            --palette-889: #808099;
            --palette-88B: #8080B3;
            --palette-88C: #8080CC;
            --palette-88E: #8080E6;
            --palette-88F: #8080FF;
            /* G: 9 (99) */
            --palette-890: #809900;
            --palette-891: #80991A;
            --palette-893: #809933;
            --palette-894: #80994D;
            --palette-896: #809966;
            --palette-898: #809980;
            --palette-899: #809999;
            --palette-89B: #8099B3;
            --palette-89C: #8099CC;
            --palette-89E: #8099E6;
            --palette-89F: #8099FF;
            /* G: B (B3) */
            --palette-8B0: #80B300;
            --palette-8B1: #80B31A;
            --palette-8B3: #80B333;
            --palette-8B4: #80B34D;
            --palette-8B6: #80B366;
            --palette-8B8: #80B380;
            --palette-8B9: #80B399;
            --palette-8BB: #80B3B3;
            --palette-8BC: #80B3CC;
            --palette-8BE: #80B3E6;
            --palette-8BF: #80B3FF;
            /* G: C (CC) */
            --palette-8C0: #80CC00;
            --palette-8C1: #80CC1A;
            --palette-8C3: #80CC33;
            --palette-8C4: #80CC4D;
            --palette-8C6: #80CC66;
            --palette-8C8: #80CC80;
            --palette-8C9: #80CC99;
            --palette-8CB: #80CCB3;
            --palette-8CC: #80CCCC;
            --palette-8CE: #80CCE6;
            --palette-8CF: #80CCFF;
            /* G: E (E6) */
            --palette-8E0: #80E600;
            --palette-8E1: #80E61A;
            --palette-8E3: #80E633;
            --palette-8E4: #80E64D;
            --palette-8E6: #80E666;
            --palette-8E8: #80E680;
            --palette-8E9: #80E699;
            --palette-8EB: #80E6B3;
            --palette-8EC: #80E6CC;
            --palette-8EE: #80E6E6;
            --palette-8EF: #80E6FF;
            /* G: F (FF) */
            --palette-8F0: #80FF00;
            --palette-8F1: #80FF1A;
            --palette-8F3: #80FF33;
            --palette-8F4: #80FF4D;
            --palette-8F6: #80FF66;
            --palette-8F8: #80FF80;
            --palette-8F9: #80FF99;
            --palette-8FB: #80FFB3;
            --palette-8FC: #80FFCC;
            --palette-8FE: #80FFE6;
            --palette-8FF: #80FFFF;

            /* --- R: 9 (99) --- */
            /* G: 0 (00) */
            --palette-900: #990000;
            --palette-901: #99001A;
            --palette-903: #990033;
            --palette-904: #99004D;
            --palette-906: #990066;
            --palette-908: #990080;
            --palette-909: #990099;
            --palette-90B: #9900B3;
            --palette-90C: #9900CC;
            --palette-90E: #9900E6;
            --palette-90F: #9900FF;
            /* G: 1 (1A) */
            --palette-910: #991A00;
            --palette-911: #991A1A;
            --palette-913: #991A33;
            --palette-914: #991A4D;
            --palette-916: #991A66;
            --palette-918: #991A80;
            --palette-919: #991A99;
            --palette-91B: #991AB3;
            --palette-91C: #991ACC;
            --palette-91E: #991AE6;
            --palette-91F: #991AFF;
            /* G: 3 (33) */
            --palette-930: #993300;
            --palette-931: #99331A;
            --palette-933: #993333;
            --palette-934: #99334D;
            --palette-936: #993366;
            --palette-938: #993380;
            --palette-939: #993399;
            --palette-93B: #9933B3;
            --palette-93C: #9933CC;
            --palette-93E: #9933E6;
            --palette-93F: #9933FF;
            /* G: 4 (4D) */
            --palette-940: #994D00;
            --palette-941: #994D1A;
            --palette-943: #994D33;
            --palette-944: #994D4D;
            --palette-946: #994D66;
            --palette-948: #994D80;
            --palette-949: #994D99;
            --palette-94B: #994DB3;
            --palette-94C: #994DCC;
            --palette-94E: #994DE6;
            --palette-94F: #994DFF;
            /* G: 6 (66) */
            --palette-960: #996600;
            --palette-961: #99661A;
            --palette-963: #996633;
            --palette-964: #99664D;
            --palette-966: #996666;
            --palette-968: #996680;
            --palette-969: #996699;
            --palette-96B: #9966B3;
            --palette-96C: #9966CC;
            --palette-96E: #9966E6;
            --palette-96F: #9966FF;
            /* G: 8 (80) */
            --palette-980: #998000;
            --palette-981: #99801A;
            --palette-983: #998033;
            --palette-984: #99804D;
            --palette-986: #998066;
            --palette-988: #998080;
            --palette-989: #998099;
            --palette-98B: #9980B3;
            --palette-98C: #9980CC;
            --palette-98E: #9980E6;
            --palette-98F: #9980FF;
            /* G: 9 (99) */
            --palette-990: #999900;
            --palette-991: #99991A;
            --palette-993: #999933;
            --palette-994: #99994D;
            --palette-996: #999966;
            --palette-998: #999980;
            --palette-999: #999999;
            --palette-99B: #9999B3;
            --palette-99C: #9999CC;
            --palette-99E: #9999E6;
            --palette-99F: #9999FF;
            /* G: B (B3) */
            --palette-9B0: #99B300;
            --palette-9B1: #99B31A;
            --palette-9B3: #99B333;
            --palette-9B4: #99B34D;
            --palette-9B6: #99B366;
            --palette-9B8: #99B380;
            --palette-9B9: #99B399;
            --palette-9BB: #99B3B3;
            --palette-9BC: #99B3CC;
            --palette-9BE: #99B3E6;
            --palette-9BF: #99B3FF;
            /* G: C (CC) */
            --palette-9C0: #99CC00;
            --palette-9C1: #99CC1A;
            --palette-9C3: #99CC33;
            --palette-9C4: #99CC4D;
            --palette-9C6: #99CC66;
            --palette-9C8: #99CC80;
            --palette-9C9: #99CC99;
            --palette-9CB: #99CCB3;
            --palette-9CC: #99CCCC;
            --palette-9CE: #99CCE6;
            --palette-9CF: #99CCFF;
            /* G: E (E6) */
            --palette-9E0: #99E600;
            --palette-9E1: #99E61A;
            --palette-9E3: #99E633;
            --palette-9E4: #99E64D;
            --palette-9E6: #99E666;
            --palette-9E8: #99E680;
            --palette-9E9: #99E699;
            --palette-9EB: #99E6B3;
            --palette-9EC: #99E6CC;
            --palette-9EE: #99E6E6;
            --palette-9EF: #99E6FF;
            /* G: F (FF) */
            --palette-9F0: #99FF00;
            --palette-9F1: #99FF1A;
            --palette-9F3: #99FF33;
            --palette-9F4: #99FF4D;
            --palette-9F6: #99FF66;
            --palette-9F8: #99FF80;
            --palette-9F9: #99FF99;
            --palette-9FB: #99FFB3;
            --palette-9FC: #99FFCC;
            --palette-9FE: #99FFE6;
            --palette-9FF: #99FFFF;

            /* --- R: B (B3) --- */
            /* G: 0 (00) */
            --palette-B00: #B30000;
            --palette-B01: #B3001A;
            --palette-B03: #B30033;
            --palette-B04: #B3004D;
            --palette-B06: #B30066;
            --palette-B08: #B30080;
            --palette-B09: #B30099;
            --palette-B0B: #B300B3;
            --palette-B0C: #B300CC;
            --palette-B0E: #B300E6;
            --palette-B0F: #B300FF;
            /* G: 1 (1A) */
            --palette-B10: #B31A00;
            --palette-B11: #B31A1A;
            --palette-B13: #B31A33;
            --palette-B14: #B31A4D;
            --palette-B16: #B31A66;
            --palette-B18: #B31A80;
            --palette-B19: #B31A99;
            --palette-B1B: #B31AB3;
            --palette-B1C: #B31ACC;
            --palette-B1E: #B31AE6;
            --palette-B1F: #B31AFF;
            /* G: 3 (33) */
            --palette-B30: #B33300;
            --palette-B31: #B3331A;
            --palette-B33: #B33333;
            --palette-B34: #B3334D;
            --palette-B36: #B33366;
            --palette-B38: #B33380;
            --palette-B39: #B33399;
            --palette-B3B: #B333B3;
            --palette-B3C: #B333CC;
            --palette-B3E: #B333E6;
            --palette-B3F: #B333FF;
            /* G: 4 (4D) */
            --palette-B40: #B34D00;
            --palette-B41: #B34D1A;
            --palette-B43: #B34D33;
            --palette-B44: #B34D4D;
            --palette-B46: #B34D66;
            --palette-B48: #B34D80;
            --palette-B49: #B34D99;
            --palette-B4B: #B34DB3;
            --palette-B4C: #B34DCC;
            --palette-B4E: #B34DE6;
            --palette-B4F: #B34DFF;
            /* G: 6 (66) */
            --palette-B60: #B36600;
            --palette-B61: #B3661A;
            --palette-B63: #B36633;
            --palette-B64: #B3664D;
            --palette-B66: #B36666;
            --palette-B68: #B36680;
            --palette-B69: #B36699;
            --palette-B6B: #B366B3;
            --palette-B6C: #B366CC;
            --palette-B6E: #B366E6;
            --palette-B6F: #B366FF;
            /* G: 8 (80) */
            --palette-B80: #B38000;
            --palette-B81: #B3801A;
            --palette-B83: #B38033;
            --palette-B84: #B3804D;
            --palette-B86: #B38066;
            --palette-B88: #B38080;
            --palette-B89: #B38099;
            --palette-B8B: #B380B3;
            --palette-B8C: #B380CC;
            --palette-B8E: #B380E6;
            --palette-B8F: #B380FF;
            /* G: 9 (99) */
            --palette-B90: #B39900;
            --palette-B91: #B3991A;
            --palette-B93: #B39933;
            --palette-B94: #B3994D;
            --palette-B96: #B39966;
            --palette-B98: #B39980;
            --palette-B99: #B39999;
            --palette-B9B: #B399B3;
            --palette-B9C: #B399CC;
            --palette-B9E: #B399E6;
            --palette-B9F: #B399FF;
            /* G: B (B3) */
            --palette-BB0: #B3B300;
            --palette-BB1: #B3B31A;
            --palette-BB3: #B3B333;
            --palette-BB4: #B3B34D;
            --palette-BB6: #B3B366;
            --palette-BB8: #B3B380;
            --palette-BB9: #B3B399;
            --palette-BBB: #B3B3B3;
            --palette-BBC: #B3B3CC;
            --palette-BBE: #B3B3E6;
            --palette-BBF: #B3B3FF;
            /* G: C (CC) */
            --palette-BC0: #B3CC00;
            --palette-BC1: #B3CC1A;
            --palette-BC3: #B3CC33;
            --palette-BC4: #B3CC4D;
            --palette-BC6: #B3CC66;
            --palette-BC8: #B3CC80;
            --palette-BC9: #B3CC99;
            --palette-BCB: #B3CCB3;
            --palette-BCC: #B3CCCC;
            --palette-BCE: #B3CCE6;
            --palette-BCF: #B3CCFF;
            /* G: E (E6) */
            --palette-BE0: #B3E600;
            --palette-BE1: #B3E61A;
            --palette-BE3: #B3E633;
            --palette-BE4: #B3E64D;
            --palette-BE6: #B3E666;
            --palette-BE8: #B3E680;
            --palette-BE9: #B3E699;
            --palette-BEB: #B3E6B3;
            --palette-BEC: #B3E6CC;
            --palette-BEE: #B3E6E6;
            --palette-BEF: #B3E6FF;
            /* G: F (FF) */
            --palette-BF0: #B3FF00;
            --palette-BF1: #B3FF1A;
            --palette-BF3: #B3FF33;
            --palette-BF4: #B3FF4D;
            --palette-BF6: #B3FF66;
            --palette-BF8: #B3FF80;
            --palette-BF9: #B3FF99;
            --palette-BFB: #B3FFB3;
            --palette-BFC: #B3FFCC;
            --palette-BFE: #B3FFE6;
            --palette-BFF: #B3FFFF;

            /* --- R: C (CC) --- */
            /* G: 0 (00) */
            --palette-C00: #CC0000;
            --palette-C01: #CC001A;
            --palette-C03: #CC0033;
            --palette-C04: #CC004D;
            --palette-C06: #CC0066;
            --palette-C08: #CC0080;
            --palette-C09: #CC0099;
            --palette-C0B: #CC00B3;
            --palette-C0C: #CC00CC;
            --palette-C0E: #CC00E6;
            --palette-C0F: #CC00FF;
            /* G: 1 (1A) */
            --palette-C10: #CC1A00;
            --palette-C11: #CC1A1A;
            --palette-C13: #CC1A33;
            --palette-C14: #CC1A4D;
            --palette-C16: #CC1A66;
            --palette-C18: #CC1A80;
            --palette-C19: #CC1A99;
            --palette-C1B: #CC1AB3;
            --palette-C1C: #CC1ACC;
            --palette-C1E: #CC1AE6;
            --palette-C1F: #CC1AFF;
            /* G: 3 (33) */
            --palette-C30: #CC3300;
            --palette-C31: #CC331A;
            --palette-C33: #CC3333;
            --palette-C34: #CC334D;
            --palette-C36: #CC3366;
            --palette-C38: #CC3380;
            --palette-C39: #CC3399;
            --palette-C3B: #CC33B3;
            --palette-C3C: #CC33CC;
            --palette-C3E: #CC33E6;
            --palette-C3F: #CC33FF;
            /* G: 4 (4D) */
            --palette-C40: #CC4D00;
            --palette-C41: #CC4D1A;
            --palette-C43: #CC4D33;
            --palette-C44: #CC4D4D;
            --palette-C46: #CC4D66;
            --palette-C48: #CC4D80;
            --palette-C49: #CC4D99;
            --palette-C4B: #CC4DB3;
            --palette-C4C: #CC4DCC;
            --palette-C4E: #CC4DE6;
            --palette-C4F: #CC4DFF;
            /* G: 6 (66) */
            --palette-C60: #CC6600;
            --palette-C61: #CC661A;
            --palette-C63: #CC6633;
            --palette-C64: #CC664D;
            --palette-C66: #CC6666;
            --palette-C68: #CC6680;
            --palette-C69: #CC6699;
            --palette-C6B: #CC66B3;
            --palette-C6C: #CC66CC;
            --palette-C6E: #CC66E6;
            --palette-C6F: #CC66FF;
            /* G: 8 (80) */
            --palette-C80: #CC8000;
            --palette-C81: #CC801A;
            --palette-C83: #CC8033;
            --palette-C84: #CC804D;
            --palette-C86: #CC8066;
            --palette-C88: #CC8080;
            --palette-C89: #CC8099;
            --palette-C8B: #CC80B3;
            --palette-C8C: #CC80CC;
            --palette-C8E: #CC80E6;
            --palette-C8F: #CC80FF;
            /* G: 9 (99) */
            --palette-C90: #CC9900;
            --palette-C91: #CC991A;
            --palette-C93: #CC9933;
            --palette-C94: #CC994D;
            --palette-C96: #CC9966;
            --palette-C98: #CC9980;
            --palette-C99: #CC9999;
            --palette-C9B: #CC99B3;
            --palette-C9C: #CC99CC;
            --palette-C9E: #CC99E6;
            --palette-C9F: #CC99FF;
            /* G: B (B3) */
            --palette-CB0: #CCB300;
            --palette-CB1: #CCB31A;
            --palette-CB3: #CCB333;
            --palette-CB4: #CCB34D;
            --palette-CB6: #CCB366;
            --palette-CB8: #CCB380;
            --palette-CB9: #CCB399;
            --palette-CBB: #CCB3B3;
            --palette-CBC: #CCB3CC;
            --palette-CBE: #CCB3E6;
            --palette-CBF: #CCB3FF;
            /* G: C (CC) */
            --palette-CC0: #CCCC00;
            --palette-CC1: #CCCC1A;
            --palette-CC3: #CCCC33;
            --palette-CC4: #CCCC4D;
            --palette-CC6: #CCCC66;
            --palette-CC8: #CCCC80;
            --palette-CC9: #CCCC99;
            --palette-CCB: #CCCCB3;
            --palette-CCC: #CCCCCC;
            --palette-CCE: #CCCCE6;
            --palette-CCF: #CCCCFF;
            /* G: E (E6) */
            --palette-CE0: #CCE600;
            --palette-CE1: #CCE61A;
            --palette-CE3: #CCE633;
            --palette-CE4: #CCE64D;
            --palette-CE6: #CCE666;
            --palette-CE8: #CCE680;
            --palette-CE9: #CCE699;
            --palette-CEB: #CCE6B3;
            --palette-CEC: #CCE6CC;
            --palette-CEE: #CCE6E6;
            --palette-CEF: #CCE6FF;
            /* G: F (FF) */
            --palette-CF0: #CCFF00;
            --palette-CF1: #CCFF1A;
            --palette-CF3: #CCFF33;
            --palette-CF4: #CCFF4D;
            --palette-CF6: #CCFF66;
            --palette-CF8: #CCFF80;
            --palette-CF9: #CCFF99;
            --palette-CFB: #CCFFB3;
            --palette-CFC: #CCFFCC;
            --palette-CFE: #CCFFE6;
            --palette-CFF: #CCFFFF;

            /* --- R: E (E6) --- */
            /* G: 0 (00) */
            --palette-E00: #E60000;
            --palette-E01: #E6001A;
            --palette-E03: #E60033;
            --palette-E04: #E6004D;
            --palette-E06: #E60066;
            --palette-E08: #E60080;
            --palette-E09: #E60099;
            --palette-E0B: #E600B3;
            --palette-E0C: #E600CC;
            --palette-E0E: #E600E6;
            --palette-E0F: #E600FF;
            /* G: 1 (1A) */
            --palette-E10: #E61A00;
            --palette-E11: #E61A1A;
            --palette-E13: #E61A33;
            --palette-E14: #E61A4D;
            --palette-E16: #E61A66;
            --palette-E18: #E61A80;
            --palette-E19: #E61A99;
            --palette-E1B: #E61AB3;
            --palette-E1C: #E61ACC;
            --palette-E1E: #E61AE6;
            --palette-E1F: #E61AFF;
            /* G: 3 (33) */
            --palette-E30: #E63300;
            --palette-E31: #E6331A;
            --palette-E33: #E63333;
            --palette-E34: #E6334D;
            --palette-E36: #E63366;
            --palette-E38: #E63380;
            --palette-E39: #E63399;
            --palette-E3B: #E633B3;
            --palette-E3C: #E633CC;
            --palette-E3E: #E633E6;
            --palette-E3F: #E633FF;
            /* G: 4 (4D) */
            --palette-E40: #E64D00;
            --palette-E41: #E64D1A;
            --palette-E43: #E64D33;
            --palette-E44: #E64D4D;
            --palette-E46: #E64D66;
            --palette-E48: #E64D80;
            --palette-E49: #E64D99;
            --palette-E4B: #E64DB3;
            --palette-E4C: #E64DCC;
            --palette-E4E: #E64DE6;
            --palette-E4F: #E64DFF;
            /* G: 6 (66) */
            --palette-E60: #E66600;
            --palette-E61: #E6661A;
            --palette-E63: #E66633;
            --palette-E64: #E6664D;
            --palette-E66: #E66666;
            --palette-E68: #E66680;
            --palette-E69: #E66699;
            --palette-E6B: #E666B3;
            --palette-E6C: #E666CC;
            --palette-E6E: #E666E6;
            --palette-E6F: #E666FF;
            /* G: 8 (80) */
            --palette-E80: #E68000;
            --palette-E81: #E6801A;
            --palette-E83: #E68033;
            --palette-E84: #E6804D;
            --palette-E86: #E68066;
            --palette-E88: #E68080;
            --palette-E89: #E68099;
            --palette-E8B: #E680B3;
            --palette-E8C: #E680CC;
            --palette-E8E: #E680E6;
            --palette-E8F: #E680FF;
            /* G: 9 (99) */
            --palette-E90: #E69900;
            --palette-E91: #E6991A;
            --palette-E93: #E69933;
            --palette-E94: #E6994D;
            --palette-E96: #E69966;
            --palette-E98: #E69980;
            --palette-E99: #E69999;
            --palette-E9B: #E699B3;
            --palette-E9C: #E699CC;
            --palette-E9E: #E699E6;
            --palette-E9F: #E699FF;
            /* G: B (B3) */
            --palette-EB0: #E6B300;
            --palette-EB1: #E6B31A;
            --palette-EB3: #E6B333;
            --palette-EB4: #E6B34D;
            --palette-EB6: #E6B366;
            --palette-EB8: #E6B380;
            --palette-EB9: #E6B399;
            --palette-EBB: #E6B3B3;
            --palette-EBC: #E6B3CC;
            --palette-EBE: #E6B3E6;
            --palette-EBF: #E6B3FF;
            /* G: C (CC) */
            --palette-EC0: #E6CC00;
            --palette-EC1: #E6CC1A;
            --palette-EC3: #E6CC33;
            --palette-EC4: #E6CC4D;
            --palette-EC6: #E6CC66;
            --palette-EC8: #E6CC80;
            --palette-EC9: #E6CC99;
            --palette-ECB: #E6CCB3;
            --palette-ECC: #E6CCCC;
            --palette-ECE: #E6CCE6;
            --palette-ECF: #E6CCFF;
            /* G: E (E6) */
            --palette-EE0: #E6E600;
            --palette-EE1: #E6E61A;
            --palette-EE3: #E6E633;
            --palette-EE4: #E6E64D;
            --palette-EE6: #E6E666;
            --palette-EE8: #E6E680;
            --palette-EE9: #E6E699;
            --palette-EEB: #E6E6B3;
            --palette-EEC: #E6E6CC;
            --palette-EEE: #E6E6E6;
            --palette-EEF: #E6E6FF;
            /* G: F (FF) */
            --palette-EF0: #E6FF00;
            --palette-EF1: #E6FF1A;
            --palette-EF3: #E6FF33;
            --palette-EF4: #E6FF4D;
            --palette-EF6: #E6FF66;
            --palette-EF8: #E6FF80;
            --palette-EF9: #E6FF99;
            --palette-EFB: #E6FFB3;
            --palette-EFC: #E6FFCC;
            --palette-EFE: #E6FFE6;
            --palette-EFF: #E6FFFF;

            /* --- R: F (FF) --- */
            /* G: 0 (00) */
            --palette-F00: #FF0000;
            --palette-F01: #FF001A;
            --palette-F03: #FF0033;
            --palette-F04: #FF004D;
            --palette-F06: #FF0066;
            --palette-F08: #FF0080;
            --palette-F09: #FF0099;
            --palette-F0B: #FF00B3;
            --palette-F0C: #FF00CC;
            --palette-F0E: #FF00E6;
            --palette-F0F: #FF00FF;
            /* G: 1 (1A) */
            --palette-F10: #FF1A00;
            --palette-F11: #FF1A1A;
            --palette-F13: #FF1A33;
            --palette-F14: #FF1A4D;
            --palette-F16: #FF1A66;
            --palette-F18: #FF1A80;
            --palette-F19: #FF1A99;
            --palette-F1B: #FF1AB3;
            --palette-F1C: #FF1ACC;
            --palette-F1E: #FF1AE6;
            --palette-F1F: #FF1AFF;
            /* G: 3 (33) */
            --palette-F30: #FF3300;
            --palette-F31: #FF331A;
            --palette-F33: #FF3333;
            --palette-F34: #FF334D;
            --palette-F36: #FF3366;
            --palette-F38: #FF3380;
            --palette-F39: #FF3399;
            --palette-F3B: #FF33B3;
            --palette-F3C: #FF33CC;
            --palette-F3E: #FF33E6;
            --palette-F3F: #FF33FF;
            /* G: 4 (4D) */
            --palette-F40: #FF4D00;
            --palette-F41: #FF4D1A;
            --palette-F43: #FF4D33;
            --palette-F44: #FF4D4D;
            --palette-F46: #FF4D66;
            --palette-F48: #FF4D80;
            --palette-F49: #FF4D99;
            --palette-F4B: #FF4DB3;
            --palette-F4C: #FF4DCC;
            --palette-F4E: #FF4DE6;
            --palette-F4F: #FF4DFF;
            /* G: 6 (66) */
            --palette-F60: #FF6600;
            --palette-F61: #FF661A;
            --palette-F63: #FF6633;
            --palette-F64: #FF664D;
            --palette-F66: #FF6666;
            --palette-F68: #FF6680;
            --palette-F69: #FF6699;
            --palette-F6B: #FF66B3;
            --palette-F6C: #FF66CC;
            --palette-F6E: #FF66E6;
            --palette-F6F: #FF66FF;
            /* G: 8 (80) */
            --palette-F80: #FF8000;
            --palette-F81: #FF801A;
            --palette-F83: #FF8033;
            --palette-F84: #FF804D;
            --palette-F86: #FF8066;
            --palette-F88: #FF8080;
            --palette-F89: #FF8099;
            --palette-F8B: #FF80B3;
            --palette-F8C: #FF80CC;
            --palette-F8E: #FF80E6;
            --palette-F8F: #FF80FF;
            /* G: 9 (99) */
            --palette-F90: #FF9900;
            --palette-F91: #FF991A;
            --palette-F93: #FF9933;
            --palette-F94: #FF994D;
            --palette-F96: #FF9966;
            --palette-F98: #FF9980;
            --palette-F99: #FF9999;
            --palette-F9B: #FF99B3;
            --palette-F9C: #FF99CC;
            --palette-F9E: #FF99E6;
            --palette-F9F: #FF99FF;
            /* G: B (B3) */
            --palette-FB0: #FFB300;
            --palette-FB1: #FFB31A;
            --palette-FB3: #FFB333;
            --palette-FB4: #FFB34D;
            --palette-FB6: #FFB366;
            --palette-FB8: #FFB380;
            --palette-FB9: #FFB399;
            --palette-FBB: #FFB3B3;
            --palette-FBC: #FFB3CC;
            --palette-FBE: #FFB3E6;
            --palette-FBF: #FFB3FF;
            /* G: C (CC) */
            --palette-FC0: #FFCC00;
            --palette-FC1: #FFCC1A;
            --palette-FC3: #FFCC33;
            --palette-FC4: #FFCC4D;
            --palette-FC6: #FFCC66;
            --palette-FC8: #FFCC80;
            --palette-FC9: #FFCC99;
            --palette-FCB: #FFCCB3;
            --palette-FCC: #FFCCCC;
            --palette-FCE: #FFCCE6;
            --palette-FCF: #FFCCFF;
            /* G: E (E6) */
            --palette-FE0: #FFE600;
            --palette-FE1: #FFE61A;
            --palette-FE3: #FFE633;
            --palette-FE4: #FFE64D;
            --palette-FE6: #FFE666;
            --palette-FE8: #FFE680;
            --palette-FE9: #FFE699;
            --palette-FEB: #FFE6B3;
            --palette-FEC: #FFE6CC;
            --palette-FEE: #FFE6E6;
            --palette-FEF: #FFE6FF;
            /* G: F (FF) */
            --palette-FF0: #FFFF00;
            --palette-FF1: #FFFF1A;
            --palette-FF3: #FFFF33;
            --palette-FF4: #FFFF4D;
            --palette-FF6: #FFFF66;
            --palette-FF8: #FFFF80;
            --palette-FF9: #FFFF99;
            --palette-FFB: #FFFFB3;
            --palette-FFC: #FFFFCC;
            --palette-FFE: #FFFFE6;
            --palette-FFF: #FFFFFF;
            /* transparent */
            --color-transparent-0002: rgba(0, 0, 0, 0.2);
            --color-transparent-0008: rgba(0, 0, 0, 0.8);
            --color-transparent-2552: rgba(255, 255, 255, 0.2);
            --color-transparent-2558: rgba(255, 255, 255, 0.8);
        }